<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>PyAlgoTrade Strategy Optimizer | Queue execution</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/rw_common/themes/realmacsoftware06/styles.css"  />
		<link rel="stylesheet" type="text/css" media="screen" href="/rw_common/themes/realmacsoftware06/colourtag-theme-default.css"  />
		<!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="/rw_common/themes/realmacsoftware06/ie6.css"  /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="/rw_common/themes/realmacsoftware06/ie7.css"  /><![endif]-->
		<link rel="stylesheet" type="text/css" media="screen" href="/rw_common/themes/realmacsoftware06/css/width/900.css" />
		<!-- <link rel="stylesheet" type="text/css" media="screen" href="/rw_common/themes/realmacsoftware06/css/sidebar/right.css" /> -->
		
		<link rel="stylesheet" type="text/css" media="print" href="/rw_common/themes/realmacsoftware06/print.css"  />
		<script type="text/javascript" src="/rw_common/themes/realmacsoftware06/javascript.js"></script>
		
		
		
		
		<!--[if IE 6]><script type="text/javascript" charset="utf-8">
			var blankSrc = "/rw_common/themes/realmacsoftware06/png/blank.gif";
		</script>	
		<style type="text/css">

		img {
				behavior: url("/rw_common/themes/realmacsoftware06/png/pngbehavior.htc");
			}
		
		</style><![endif]-->
	</head>
<body>
	<div id="topbar"></div>
	<div id="pageHeader">
		<div id="title">
			
			<h1>PyAlgoTrade Strategy Optimizer</h1>
			<h2>Optimizing strategies in Google App Engine</h2>
		</div>
		<div id="navcontainer"><ul><li><a href="/" rel="self">Home</a></li></ul></div>
	</div>
	<div id="headerBottomGrad">
		<img src="/rw_common/themes/realmacsoftware06/images/bottom_grad.png" alt="" style="width: 3000px; height: 12px;" />
	</div>

	<div id="container">
		<div id="sidebarContainer">
			<div id="sidebar">
				<h1 class="sideHeader"></h1>
				
				
			</div>
		</div>
		
		<div id="contentContainer">
			<div id="content">
				<div align="right">
	Logged in as <b>{{ user.nickname }}</b> - <a href="{{ logout_url }}">Logout</a>
</div>
<h1>{{ strategy.class }}</h1>
<p>
<b>Important notes</b>:
<ul>
	<li>The first two <b>{{ strategy.class }}.__init__</b> parameters are skipped since they shoud be <b>self</b> and <b>feed</b> respectively.</li>
	<li>The rest of the <b>{{ strategy.class }}.__init__</b> parameter values are treated as integers.</li>
	<li>Each parameter's first value must be &lt;= than the last value.</li>
	<li>For any instrument you select you need to upload the bars first.</li>
</ul>
</p>
<div>
<form method="post" enctype="multipart/form-data">
	<b>Strategy class __init__ parameters</b>:
	<div>
	<table>
		<tr>
			<th></th>
			<th>First value</th>
			<th>Last value</th>
		</tr>
		{% for parameter in form.strategy %}
		<tr>
			<td><label>{{ parameter.name }}:</label></td>
			<td><input class="form-input-field" type="text" value="{{ parameter.beginValue }}" name="{{ parameter.beginName }}" size="12"/></td>
			<td><input class="form-input-field" type="text" value="{{ parameter.endValue }}" name="{{ parameter.endName }}" size="12"/></td>
		</tr>
		{% endfor %}
	</table>
	</div>
	<b>Feed parameters</b>:
	<div>
	<table>
		<tr>
			<td><label>Instrument:</label></td>
			<td><input class="form-input-field" type="text" value="{{ form.instrument }}" name="instrument" size="12"/></td>
		</tr>
		<tr>
			<td><label>First date:</label></td>
			<td><input class="form-input-field" type="text" value="{{ form.dateBegin }}" name="dateBegin" size="12"/></td>
		</tr>
		<tr>
			<td><label>Last date:</label></td>
			<td><input class="form-input-field" type="text" value="{{ form.dateEnd }}" name="dateEnd" size="12"/></td>
		</tr>
	</table>
	</div>
	<input class="form-input-button" type="submit" name="submitButton" value="Queue execution" />
</form>
</div>

{% if submit_error %}
<p style="color: red;">Error: {{ submit_error }}</p>
{% endif %}

			</div>
			<div class="clearer"></div>
			<div id="breadcrumbcontainer"></div>
		</div>

		<div id="footer">
			<p></p>
		</div>
	</div>
	<div id="footerBottomGrad">
		<img src="/rw_common/themes/realmacsoftware06/images/bottom_grad.png" alt="" style="width: 3000px; height: 12px;" />
	</div>
</body>
</html>
