#contentContainer {
	margin-right: 210px;
}

#contentContainer #content {
	padding: 10px 15px 10px 10px;
}

#sidebarContainer {
	float: right;
}

#sidebarContainer #sidebar {
	padding: 10px 10px 10px 0;
}