/*<group=General Styles>*/

body {
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	margin: 0px;
	padding: 0;
	white-space: pre;
}

p {
}

b, strong {

}

a:link {
	color: #0000ff;
	text-decoration: underline;
}

a:visited {
	color: #681796;
}

a:hover, a:active {
	text-decoration: none;
	background: #0000ff;
	color: #ffffff;
}

img {
	max-width: 99%;
}

.image-left {

}

.image-right {

}
	
/*</group>*/

/*<group=Layout>*/

#container { 
	background: #ffffff;
	background-image: none;
	width: 100%;
}

#pageHeader {
	height: auto;
	text-align: left;
	margin-bottom: 8px;
	background: #000000;
	padding: 3px;
	border-bottom: solid #191919 2px;
}

#pageHeader img {
	position: relative;
	top: auto;
	right: auto;
}

#pageHeader h1 {
	color: #ffffff;
	font-size: 1.3em;
	margin: 0 0 5px;
	padding-top: 0px;
	font-weight: bold;
}

#pageHeader h2 {
	font-size: 1.1em;
	margin: 0;
	color: #ffffff;
	font-weight: normal;
}

#contentContainer {
	margin: 0px;
	display: block;
	width: auto;
}

#contentContainer #content {
	margin: 0;
	padding: 0;
}

#sidebarContainer {
	float: none;
	width: auto;
	display: block;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #808080;
}

#sidebarContainer #sidebar {
	margin: 0;
	padding: 0px;
}

#sidebarContainer .sideHeader {
	color: #000000;
	font-weight: bold;
	margin-bottom: 5px;
}

#footer { 
	width: auto;
	text-align: left;
	padding: 0px;
	margin: 0;
}

#footer p {
}

#footer a:link, #footer a:visited {

}

#footer a:hover, #footer a:active {
}
	
/*</group>*/

/*<group=Bread-crumb>*/

#breadcrumbcontainer {
	margin-bottom: 5px;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#breadcrumbcontainer li {
	display: inline;
	padding: 0;
	margin: 0;
}

#breadcrumbcontainer a {
	padding: 0;
}

#breadcrumbcontainer a:hover {

}
	
/*</group>*/

/*<group=Toolbar>*/

/* Toolbar Styles */

#navcontainer {
	color: #000000;
	margin: 0 0 10px 0;
	padding: 0;
}

#navcontainer #current {

}

#navcontainer #current:hover {
}

#navcontainer .currentAncestor {

}

/* Parent - Level 0 */

#navcontainer ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navcontainer li {
	margin: 0;
	padding: 0;
}

#navcontainer a {
	padding: 0;
}

#navcontainer a:hover {
}

#navcontainer a:active {
}

/* Child - Level 1 */

#navcontainer ul ul {
	list-style-type: none;
	margin-left: 2px;
	padding: 0;
	color: black;
}

#navcontainer ul ul li {
	padding-left: 5px;
}

#navcontainer ul ul a {
	padding: 0;
}

#navcontainer ul ul a:hover{
}

#navcontainer ul ul #current{
}

/* Child - Level 2 */

#navcontainer ul ul ul {

}

#navcontainer ul ul ul li {
	padding-left: 10px;
}

#navcontainer ul ul ul a{
}

#navcontainer ul ul ul a:hover{

}

/* Child Level 3 */

#navcontainer ul ul ul {

}

#navcontainer ul ul ul ul li {
	padding-left: 15px;
}

#navcontainer ul ul ul ul a{
}

#navcontainer ul ul ul ul a:hover{

}

/* Child Level 4 */

#navcontainer ul ul ul ul {

}

#navcontainer ul ul ul ul ul li {
	padding-left: 20px;
}

#navcontainer ul ul ul ul ul a{
}

#navcontainer ul ul ul ul ul a:hover{

}

/* Child Level 5 */

#navcontainer ul ul ul ul ul {

}

#navcontainer ul ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul ul a{
}

#navcontainer ul ul ul ul ul ul a:hover{

}

/*</group>*/

/*<group=Global Classes>*/

blockquote, .standout {
	margin: 0;
	padding: 5px;
	font-weight: bold;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

.imageStyle {

}
	
/*</group>*/

/*<group=Blog>*/

/*<group=Archive Page>*/

.blog-archive-background {
}.blog-archive-headings-wrapper {
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}.blog-archive-month {
}

.blog-archive-link {
}.blog-archive-link a:link, .blog-archive-link a:visited {
}
	
/*</group>*/

.blog-entry {
}

.blog-entry-title {
	font-weight: bold;
	margin-bottom: 3px;
}

.blog-entry-date {
	margin-bottom: 8px;
	font-size: 0.9em;
	color: #808080;
}

.blog-entry-body {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #cccccc;
}

.blog-entry-comments {
	display: none;
}

.blog-entry-category {
}

.blog-category-link-enabled {
}

.blog-category-link-disabled {
}

/*</group>*/

/*<group=File Sharing>*/

.filesharing-description {
}

.filesharing-item {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #cccccc;
}

.filesharing-item-title a:link {
}

.filesharing-item-title a:hover {
}

.filesharing-item-title a:visited {

}

.filesharing-item-description {
}

/*</group>*/

/*<group=Photo Album>*/

/*<group=Index Page (Thumbnail view)>*/

.album-title {
	font-weight: bold;
	margin-bottom: 3px;
}

.album-description {
	margin-bottom: 8px;
	font-size: 0.9em;
	color: #808080;
}

table.thumbnail-table {
	width: 99%;
}

table.thumbnail-table, table.thumbnail-table tr, table.thumbnail-table td {
	display: block;
}

.thumbnail-frame {
}

.thumbnail-frame:hover {
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
}

.thumbnail-frame img {
}

.thumbnail-caption {
}
	
/*</group>*/

/*<group=Single Page (Photo view)>*/

.photo-background {
}

.photo-navigation {
}

.photo-links {
}

.photo-navigation a:link, .photo-navigation a:visited {

}

.photo-navigation a:hover {

}

.photo-frame{
}

.photo-title {
}

.photo-caption {
}

/*</group>*/
	
/*</group>*/

/*<group=Quicktime Page>*/

.movie-description {

}
	
/*</group>*/

/*<group=Quicktime Album>*/

/*<group=Index Page (Movie Thumbnail view)>*/

.movie-page-title {
	font-weight: bold;
	margin-bottom: 3px;
}.movie-page-description {
	margin-bottom: 8px;
	font-size: 0.9em;
	color: #808080;
}.movie-thumbnail-frame {
}

.movie-thumbnail-frame:hover {
}

.movie-thumbnail-caption {
}
	
/*</group>*/

/*<group=Single Page (Movie View)>*/

.movie-background {
}

.movie-title {
}

.movie-frame {

}
	
/*</group>*/


/*</group>*/

/*<group=Contact Form>*/
.message-text { 
} 

.required-text {
} 

.form-input-field {
	max-width: 100%;
} 

.form-input-button { 
} 
/*</group>*/


