<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUImZpUJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAeCQoR
				HSEzNztCRkdITE9TV15iaHBzd3yAhIiOj5OXVSRudWxs
				0gsMDQ5WJGNsYXNzWk5TLm9iamVjdHOAHaIPEIACgBXW
				EhMLFBUWFxgZGhscWFBhZ2UgTWFwWVJlc291cmNlc1hQ
				YXRoIE1hcF5JZGVudGlmaWVyIE1hcFhOb2RlIE1hcIAY
				gAOAHIAZgA+AEdILDB4fgA6hIIAE2SIjCyQlJicoKSor
				LC0uLy0tMldDaGFuZ2VkVUFsaWFzXFB1Ymxpc2hlZFVS
				TFROYW1lWklkZW50aWZpZXJUU2x1Z11QdWJsaXNoZWRE
				YXRlWVRpbWVTdGFtcAiABYANgACACoAJgACAAIAL0gs0
				NTZSJDCACIAG0jgLOTpXTlMuZGF0YU8RAaAAAAAAAaAA
				AgAACE1hYyBPUyBYAAAAAAAAAAAAAAAAAAAAAAAAAMyx
				7n1IKwAAABs6Jw50dXRvcmlhbC01LnBuZwAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAGzqTzJfANwAAAAAAAAAA/////wAACSAA
				AAAAAAAAAAAAAAAAAAAHc2FtcGxlcwAAEAAIAADMshit
				AAAAEQAIAADMl+pnAAAAAQAUABs6JwAbOg0ABV4uAAT9
				qQACDeMAAgBFTWFjIE9TIFg6VXNlcnM6AGdhYm86AERl
				dmVsLW5ldzoAcHlhbGdvdHJhZGU6AHNhbXBsZXM6AHR1
				dG9yaWFsLTUucG5nAAAOAB4ADgB0AHUAdABvAHIAaQBh
				AGwALQA1AC4AcABuAGcADwASAAgATQBhAGMAIABPAFMA
				IABYABIAN1VzZXJzL2dhYm8vRGV2ZWwtbmV3L3B5YWxn
				b3RyYWRlL3NhbXBsZXMvdHV0b3JpYWwtNS5wbmcAABMA
				AS8AABUAAgAL//8AAIAH0jw9Pj9YJGNsYXNzZXNaJGNs
				YXNzbmFtZaM/QEFdTlNNdXRhYmxlRGF0YVZOU0RhdGFY
				TlNPYmplY3TSPD1DRaJEQVdCREFsaWFzV0JEQWxpYXNf
				ECRFQTc3MDkwNi05RTUyLTRENkYtQkNCQS1GM0VFRUM4
				RkVBNEFedHV0b3JpYWwtNS5wbmfSC0lKS1dOUy50aW1l
				gAwjQbahCJdnUa3SPD1NTqJOQVZOU0RhdGXSPD1QUqJR
				QV5SV1NpdGVSZXNvdXJjZV5SV1NpdGVSZXNvdXJjZdI8
				PVRVo1VWQVxOU011dGFibGVTZXRVTlNTZXTTDAtYWVtc
				V05TLmtleXOhIIAEgBChL4AJ0jw9X2CjYGFBXxATTlNN
				dXRhYmxlRGljdGlvbmFyeVxOU0RpY3Rpb25hcnnTDAtY
				Y1tmoWSAEoAQoS+ACdRpamsLEG0gb1ZQYXJlbnRYQ2hp
				bGRyZW5fEBJSZXByZXNlbnRlZCBPYmplY3SAFYATgASA
				F9ILDHFygBSg0jw9dHWjdXZBXk5TTXV0YWJsZUFycmF5
				V05TQXJyYXnUaWprCy15LW+AAIAWgACAF9ILDHF+gBSh
				ZIAS0jw9gYOigkFfEBBSV1NvdXJjZUxpc3ROb2RlXxAQ
				UldTb3VyY2VMaXN0Tm9kZdMMC1iFW4eggBCg0wwLWIlb
				jKGKgBuAEKGNgBpfEDgvVXNlcnMvZ2Fiby9EZXZlbC1u
				ZXcvcHlhbGdvdHJhZGUvc2FtcGxlcy90dXRvcmlhbC01
				LnBuZ9ILDB6RgA6hIIAE0jw9lJailUFfEBJSV1Jlc291
				cmNlRGF0YWJhc2VfEBJSV1Jlc291cmNlRGF0YWJhc2XS
				PD2YdqJ2QRIAAYagXxAPTlNLZXllZEFyY2hpdmVyAAgA
				EQAWAB8AKAAyADUAOgA8AF0AYwBoAG8AegB8AH8AgQCD
				AJAAmQCjAKwAuwDEAMYAyADKAMwAzgDQANUA1wDZANsA
				7gD2APwBCQEOARkBHgEsATYBNwE5ATsBPQE/AUEBQwFF
				AUcBTAFPAVEBUwFYAWADBAMGAwsDFAMfAyMDMQM4A0ED
				RgNJA1EDWQOAA48DlAOcA54DpwOsA68DtgO7A74DzQPc
				A+ED5QPyA/gD/wQHBAkECwQNBA8EEQQWBBoEMAQ9BEQE
				RgRIBEoETAROBFcEXgRnBHwEfgSABIIEhASJBIsEjASR
				BJUEpASsBLUEtwS5BLsEvQTCBMQExgTIBM0E0ATjBPYE
				/QT+BQAFAQUIBQoFDAUOBRAFEgVNBVIFVAVWBVgFXQVg
				BXUFigWPBZIFlwAAAAAAAAIBAAAAAAAAAJsAAAAAAAAA
				AAAAAAAAAAWp
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<false/>
					<key>BaseURL</key>
					<string>http://gbeced.github.com/pyalgotrade/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2011 Gabriel Becedillas</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DefaultExportPath</key>
					<string>/Users/gabo/Devel-new/pyalgotrade-gh-pages</string>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Python Algorithmic Trading Library</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Realmac Software '06</string>
					<key>TitleText</key>
					<string>PyAlgoTrade</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>67D8EF94-F55F-4200-B780-38B42A7C99EF</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
