<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkk
				YXJjaGl2ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFf
				EA9OU0tleWVkQXJjaGl2ZXKvEB4LDBMfIzU5PURHSElN
				UFNXXmJocHN3fICDh42OkpVVJG51bGzSDQ4PEFYkY2xh
				c3NaTlMub2JqZWN0c4AdohESgAKAFdYNFBUWFxgZGhsc
				HR5eSWRlbnRpZmllciBNYXBYUGFnZSBNYXBZUmVzb3Vy
				Y2VzWFBhdGggTWFwWE5vZGUgTWFwgByAD4AYgAOAGYAR
				0g0OICGADqEigATZDSQlJicoKSorLC0uLy4xMi40Wklk
				ZW50aWZpZXJcUHVibGlzaGVkVVJMVE5hbWVdUHVibGlz
				aGVkRGF0ZVVBbGlhc1dDaGFuZ2VkVFNsdWdZVGltZVN0
				YW1wgA2ACYAAgAqAAIAFCIAAgAvSDTY3OFIkMIAIgAbS
				DTo7PFdOUy5kYXRhgAdPEQGmAAAAAAGmAAIAAAxNYWNp
				bnRvc2ggSEQAAAAAAAAAAAAAAAAAAADFOZczSCsAAAMp
				uk8OdHV0b3JpYWwtNS5wbmcAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				Aym6VMxXEF0AAAAAAAAAAP////8AAAkgAAAAAAAAAAAA
				AAAAAAAAB3NhbXBsZXMAABAACAAAxTmzUwAAABEACAAA
				zFc6jQAAAAEAFAMpuk8DGonHAVGamAALeFYAAHwTAAIA
				RE1hY2ludG9zaCBIRDpVc2VyczpnYWJvOkRldmVsLW5l
				dzpweWFsZ290cmFkZTpzYW1wbGVzOnR1dG9yaWFsLTUu
				cG5nAA4AHgAOAHQAdQB0AG8AcgBpAGEAbAAtADUALgBw
				AG4AZwAPABoADABNAGEAYwBpAG4AdABvAHMAaAAgAEgA
				RAASADdVc2Vycy9nYWJvL0RldmVsLW5ldy9weWFsZ290
				cmFkZS9zYW1wbGVzL3R1dG9yaWFsLTUucG5nAAATAAEv
				AAAVAAIAC///AADSPj9AQVgkY2xhc3Nlc1okY2xhc3Nu
				YW1lo0FCQ11OU011dGFibGVEYXRhVk5TRGF0YVhOU09i
				amVjdNI+P0VGokZDV0JEQWxpYXNfECRFQTc3MDkwNi05
				RTUyLTRENkYtQkNCQS1GM0VFRUM4RkVBNEFedHV0b3Jp
				YWwtNS5wbmfSDUpLTFdOUy50aW1lgAwjQbXy6py6MR/S
				Pj9OT6JPQ1ZOU0RhdGXSPj9RUqJSQ15SV1NpdGVSZXNv
				dXJjZdI+P1RVo1VWQ1xOU011dGFibGVTZXRVTlNTZXTT
				DVgOWVpcV05TLmtleXOAEKEtgAmhIoAE0j4/X2CjYGFD
				XxATTlNNdXRhYmxlRGljdGlvbmFyeVxOU0RpY3Rpb25h
				cnnTDVgOWWRmgBChLYAJoWeAEtQNaWprbG0iElhDaGls
				ZHJlbl8QElJlcHJlc2VudGVkIE9iamVjdFZQYXJlbnSA
				F4ATgASAFdINDnFygBSg0j4/dHWjdXZDXk5TTXV0YWJs
				ZUFycmF5V05TQXJyYXnUDWlqa2x5Li6AF4AWgACAANIN
				DnF+gBShZ4AS0j4/gYKigkNfEBBSV1NvdXJjZUxpc3RO
				b2Rl0w1YDlmFhoAQoKDTDVgOWYmLgBChioAaoYyAG18Q
				OC9Vc2Vycy9nYWJvL0RldmVsLW5ldy9weWFsZ290cmFk
				ZS9zYW1wbGVzL3R1dG9yaWFsLTUucG5n0g0OIJCADqEi
				gATSPj+TlKKUQ18QElJXUmVzb3VyY2VEYXRhYmFzZdI+
				P5Z2onZDAAgAEQAaAB8AKQAyADcAOgA/AEEAUwB0AHoA
				fwCGAJEAkwCWAJgAmgCnALYAvwDJANIA2wDdAN8A4QDj
				AOUA5wDsAO4A8ADyAQUBEAEdASIBMAE2AT4BQwFNAU8B
				UQFTAVUBVwFZAVoBXAFeAWMBZgFoAWoBbwF3AXkDIwMo
				AzEDPANAA04DVQNeA2MDZgNuA5UDpAOpA7EDswO8A8ED
				xAPLA9AD0wPiA+cD6wP4A/4EBQQNBA8EEQQTBBUEFwQc
				BCAENgRDBEoETAROBFAEUgRUBF0EZgR7BIIEhASGBIgE
				igSPBJEEkgSXBJsEqgSyBLsEvQS/BMEEwwTIBMoEzATO
				BNME1gTpBPAE8gTzBPQE+wT9BP8FAQUDBQUFQAVFBUcF
				SQVLBVAFUwVoBW0AAAAAAAACAQAAAAAAAACXAAAAAAAA
				AAAAAAAAAAAFcA==
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<false/>
					<key>BaseURL</key>
					<string>http://gbeced.github.com/pyalgotrade/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2011 Gabriel Becedillas</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DefaultExportPath</key>
					<string>/Users/gabo/Devel-new/pyalgotrade-gh-pages</string>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Python Algorithmic Trading Library</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Realmac Software '06</string>
					<key>TitleText</key>
					<string>PyAlgoTrade</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>67D8EF94-F55F-4200-B780-38B42A7C99EF</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
