<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Changed</key>
				<false/>
				<key>ColourStyles</key>
				<dict>
					<key>Alpha</key>
					<dict/>
					<key>Avantgarde</key>
					<dict/>
					<key>Bravo</key>
					<dict/>
					<key>Cameo</key>
					<dict/>
					<key>Caribou</key>
					<dict/>
					<key>Delta</key>
					<dict/>
					<key>Japanese Fantasy</key>
					<dict/>
					<key>Manitoba</key>
					<dict/>
					<key>Notes</key>
					<dict/>
					<key>Patchy</key>
					<dict/>
					<key>Realmac Software '06</key>
					<dict/>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>CustomCopyrightUsed</key>
				<false/>
				<key>CustomHeader</key>
				<string>&lt;!-- Google analytics --&gt;
&lt;script type="text/javascript"&gt;
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1180709-11']);
  _gaq.push(['_trackPageview']);

  (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
&lt;/script&gt;

&lt;!-- Plus One Button --&gt;
&lt;script type="text/javascript" src="https://apis.google.com/js/plusone.js"&gt;&lt;/script&gt;
</string>
				<key>CustomSiteTitleUsed</key>
				<false/>
				<key>CustomSloganUsed</key>
				<false/>
				<key>DefaultLinkTarget</key>
				<string>self</string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>HasCustomThemeStyle</key>
				<false/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string>index.html</string>
				<key>MetaTags</key>
				<array>
					<dict>
						<key>Content</key>
						<string>Python Algorithmic Trading Library</string>
						<key>Name</key>
						<string>description</string>
					</dict>
					<dict>
						<key>Content</key>
						<string>Algorithmic Trading, Backtesting, Python, Stock Trading</string>
						<key>Name</key>
						<string>keywords</string>
					</dict>
				</array>
				<key>OutputFormat</key>
				<string>Default</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>SidebarEnabled</key>
				<integer>0</integer>
				<key>SidebarPlain</key>
				<string>&lt;!-- Plus One Button --&gt;
&lt;g:plusone size="medium"&gt;&lt;/g:plusone&gt;
&lt;br /&gt;
&lt;!-- Twitter --&gt;
&lt;a href="https://twitter.com/pyalgotrade" class="twitter-follow-button" data-show-count="false"&gt;Follow @pyalgotrade&lt;/a&gt;
&lt;script&gt;!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");&lt;/script&gt;
&lt;br /&gt;
&lt;!-- Ohloh --&gt;
&lt;script type="text/javascript" src="http://www.ohloh.net/p/616491/widgets/project_thin_badge.js"&gt;&lt;/script&gt;
</string>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Realmac Software '06</key>
					<array>
						<string>Sidebar.Right</string>
						<string>Width.900px</string>
					</array>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Sidebar.as</string>
			</array>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
